$primary: #006699;

html {
	font-family: Myriad Pro
}

h2 {
	color: $primary;
}

.inputWrapper {
	position: relative;
	display: inline-block;
	margin-top: 2em;
}

.inputWrapper > label,
.inputWrapper > input {
	line-height: 2em;
}
.inputWrapper > label {
	z-index: 2;
	color: white;
	position: absolute;
	display: block;
	padding: 1px 6px;
	top: -2em;
	font-style: normal !important;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.inputWrapper > label > span {
	color: black;
	background: white;
	display: inline-block;
	padding: 0 5px;
	border: 1px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 6px -2px black;
}


.inputWrapper > #input {
	font-size: .95em;
	position: relative;
	z-index: 1;
	padding: 0 5px;
	background: none;
	border: 1px solid rgb(220, 220, 220)
}


.bt {
	text-align: center;
	padding: 2em;
    position: relative;
}

.bt:before {
	content: "";
	position: absolute;
	height: 4rem;
	width: 4rem;
	background: rgba(128, 128, 128, 0.29);
	border-radius: 100%;
	left: 50%;
	margin-top: -1rem;
    margin-left: -2rem;
}

.bt-children {
	display: flex;
}

.bt-placeholder {
	padding: 2em;
    position: relative;
}
.bt-prediction {
	font-size:.9em;
	padding: 5px;
	border-radius: .2em;
    background: rgb(202, 202, 202);
    margin: 5px;
    color: rgb(0, 0, 0);
    display: inline-block;
}


