$primary: #006699;

html {
	font-family: Myriad Pro
}

h2 {
	color: $primary;
}

.input-wrapper {
	position: relative;
	display: inline-block;
}

.input-predictions,
.input-field {
	font-family: inherit;
	font-size: .95em;
	line-height: 1.5em;
	padding: .5em;
	border: 1px solid transparent;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}

.input-predictions {
	position: absolute;
	z-index: 0;
	color: white;
	font-style: normal !important;
    overflow: visible;
    left: 0;
	top: 0;
	border-color: rgb(220, 220, 220)
}

.input-predictions > span {
	color: black;
	margin-top: 1.5em;
	margin-left: -6px;
	background: white;
	display: inline-block;
	padding: 0 5px;
	border: 1px solid rgb(220, 220, 220);
    box-shadow: 2px 2px 3px -1px rgb(105, 105, 105);
}

.input-field {
	color: black;
	position: relative;
	z-index: 1;
	background: none;
	border-color: transparent
}

.bt {
	text-align: center;
	padding: 2em;
    position: relative;
}

.bt:before {
	content: "";
	position: absolute;
	height: 4rem;
	width: 4rem;
	background: rgba(128, 128, 128, 0.29);
	border-radius: 100%;
	left: 50%;
	margin-top: -1rem;
    margin-left: -2rem;
}

.bt-children {
	display: flex;
}

.bt-placeholder {
	padding: 2em;
    position: relative;
}
.bt-prediction {
	font-size:.9em;
	padding: 5px;
	border-radius: .2em;
    background: rgb(202, 202, 202);
    margin: 5px;
    color: rgb(0, 0, 0);
    display: inline-block;
}


